body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.destination {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-image: url('/destination/background-destination-mobile.jpg');
}



.destination-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 5rem;
  text-align: center;

}

.planet-section {
  text-align: center;
}

.planet-section h5 {
  font-size: 1rem;
  letter-spacing: 3px;
  color: #d0d6f9;
  text-transform: uppercase;
}

.planet-section img {
  width: 170px;
  height: 170px;
  margin-top: 3rem;
  object-fit: contain;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.tabs button {
  background: none;
  border: none;
  color: #d0d6f9;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tabs button.active {
  border-bottom: 2px solid white;
  color: white;
}

.info-section h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: 'Bellefair', serif;
}

.info-section p {
  color: #d0d6f9;
  line-height: 1.8;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.divider {
  border-top: 1px solid #383b4b;
  margin: 2rem 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.stats h6 {
  font-size: 0.8rem;
  color: #d0d6f9;
  letter-spacing: 2px;
}

.stats p {
  font-size: 1.5rem;
  font-family: 'Bellefair', serif;
}

/* ===== Responsive (Destination) ===== */

/* Desktop */
@media (min-width: 992px) {
  .destination {
    height: 100vh;
    background-image: url('/destination/background-destination-desktop.jpg');
  }

  .destination-content {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .planet-section img {
    width: 445px;
    height: 445px;
    margin-left: auto;
    margin-inline: unset;
    margin-bottom: unset;
  }


  .stats {
    flex-direction: row;
  }

  .info-section {
    max-width: 450px;
  }


}